<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>YCGFUt6YjCHKioOeUPBHAP4H3rM4RnbTEVZ0g5AAYwuyYLPeq9ijL85GDs0AWR6NtIMgC2PMwFsZWxWeGd14V00cLbBsKht2IbBnPh6+q+kxdKSNkbH2i0j8Y9A1IEo5HHk/1YN7iTIQGQoUuBiD5E9QiRoxk7YftoQQLoaGhnM=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>ocMg+WROEuA3gmkefjxvYpDFMtIBgvCM7AOOejcBB1o=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>