@{
    ViewBag.Title = "O aplikacji";
}
<h2>CardioCarta</h2>
<h3>@ViewBag.Title</h3>

<p>
    Aplikacja jest elementem <strong>pracy inżynierskiej</strong>
    prowadzonej w Katedrze Geoinformatyki i Informatyki Stosowanej,
    Wydziału Geologii, Geofizyki i Ochrony Środowiska 
    <strong>Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie</strong>.
    <br /> <br />
    Temat pracy brzmi: <strong>GIS i Telemedycyna. 
    Opracowanie aplikacji monitorującej stran zdrowia pacjentów.</strong>
    <br /> <br />
    Aplikacja służy do gromadzenia danych na temat zdrowia i samopoczucia osób z
    problemami kardiologicznymi. Dane będą wykorzystane do badania wpływu stanu atmosfery
    (temperatura, ciśnienie, zanieczyszczenie powietrza) na stan zdrowia pacjentów.
</p>

@Html.ActionLink("Kontakt", "Contact", "Home")
