@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<hr />

<address>
    <strong>Dyplomant:</strong>   <a href="mailto:s287072@geol.agh.edu.pl">Weronika Naziemiec</a> (kierunek: Informatyka Stosowana) <br />
    <strong>Promotor:</strong> dr inż. Michał Lupa
</address>

<address>
    <strong>AGH Akademia Górniczo-Hutnicza im. Stanisława Staszica</strong> <br />
    Wydział Geologii, Geofizyki i Ochrony Środowiska <br />
    <strong>Katedra Geoinformatyki i Informatyki Stosowanej</strong> <br />
    al. A. Mickiewicza 30 <br />
    30-059 Kraków <br />
    <br />
    fax: +48 12 633 2936 <br />
    e-mail: geoinf@agh.edu.pl <br />
</address>