@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CardioCarta</h1>
    <p class="lead">Aplikacja do monitorowania stanu zdrowia pacjentów na tle stanu jakości powietrza.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>