@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CardioCarta</h1>
    <p class="lead">Aplikacja do monitorowania stanu zdrowia pacjentów na tle stanu jakości powietrza.</p>
    @Html.ActionLink("Dowiedz się więcej", "About", "Home", new { @class = "btn btn-primary btn-lg" })
</div>