
@{
    ViewBag.Title = "Wypełniony";
}

<h2>Wypełniony</h2>
<p>
    Swój wywiad medyczny wypełniłeś przy rejestracji. Zapraszamy do wypełnienia @Html.ActionLink("dzienniczka.", "Create", "Diaries")
</p>