
@{
    ViewBag.Title = "Mapa";
}
<div id="map" class="map"></div>
    <form>
      <label>cluster distance</label>
      <input id="distance" type="range" min="0" max="100" step="1" value="40"/>
    </form>
    <script>
        @{
            var mapController = new CardioCarta.Controllers.MapController();
            var diary = mapController.GetDiaries();
            var airly = mapController.GetAirly();
        }

        var diaries = @Html.Raw(Json.Encode(diary));
        var airlies = @Html.Raw(Json.Encode(airly));
        var diaryPoints = Object.keys(diaries);
        var airlyPoints = Object.keys(airlies);
        var distance = document.getElementById('distance');
        var wktReader = new ol.format.WKT();
        var diaryFeatures = [];
        var airlyFeatures = [];
        var airlyFeatures2 = [];

        for (var i = 0; i < diaryPoints.length; i++) {
            var feature = wktReader.readFeature(diaryPoints[i]);
            feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
            var value = diaries[diaryPoints[i]];
            if (value <= 1) {
                feature.setStyle(new ol.style.Style(
                    {
                        image: new ol.style.Circle({
                            radius: 10,
                            stroke: new ol.style.Stroke({
                                color: '#fff'
                            }),
                            fill: new ol.style.Fill({
                                color: 'red'
                            })
                        })
                    }));
            }
            else
            {
                feature.setStyle(new ol.style.Style(
                    {
                        image: new ol.style.Circle({
                            radius: 10,
                            stroke: new ol.style.Stroke({
                                color: '#fff'
                            }),
                            fill: new ol.style.Fill({
                                color: 'green'
                            })
                        })
                    }));
            }
            diaryFeatures.push(feature);
        }

        function hslToRgb(h, s, l) {
            var r, g, b;

            if (s == 0) {
                r = g = b = l; // achromatic
            } else {
                var hue2rgb = function hue2rgb(p, q, t) {
                    if (t < 0) t += 1;
                    if (t > 1) t -= 1;
                    if (t < 1 / 6) return p + (q - p) * 6 * t;
                    if (t < 1 / 2) return q;
                    if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                    return p;
                }

                var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                var p = 2 * l - q;
                r = hue2rgb(p, q, h + 1 / 3);
                g = hue2rgb(p, q, h);
                b = hue2rgb(p, q, h - 1 / 3);
            }

            return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
        }

        function numberToColorHsl(i) {
            // as the function expects a value between 0 and 1, and red = 0° and green = 120°
            // we convert the input to the appropriate hue value
            var hue = i * 1.2 / 360;
            // we convert hsl to rgb (saturation 100%, lightness 50%)
            var rgb = hslToRgb(hue, 1, .5);
            // we format to css value and return
            return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ', 0.3)';
        }

        for (var i = 0; i < airlyPoints.length; i++) {
            var feature = wktReader.readFeature(airlyPoints[i]);
            feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
            var value = airlies[airlyPoints[i]];
            feature.set('weight', value / 100);

            feature.setStyle(new ol.style.Style(
                {
                    image: new ol.style.Circle({
                        radius: 20,
                        fill: new ol.style.Fill({
                            //color: 'rgba(255, 0, 0, 0.2)'
                            color: numberToColorHsl(value)
                        })
                    })
                }));

            airlyFeatures.push(feature);
        }

        for (var i = 0; i < airlyPoints.length; i++) {
            var point = wktReader.readFeature(airlyPoints[i]);
            var feature = new ol.Feature({
                geometry: new ol.geom.Polygon.circular(point.getGeometry().getCoordinates(), 1000)
            });
            feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
            feature.set('weight', value / 100);

            feature.setStyle(new ol.style.Style(
                {
                    fill: new ol.style.Fill({
                        color: numberToColorHsl(value)
                    })
                }));

            airlyFeatures2.push(feature);
        }

        var diarySource = new ol.source.Vector({
            features: diaryFeatures
        });

        var airlySource = new ol.source.Vector({
            features: airlyFeatures2
        });

        var clusterDiary = new ol.source.Cluster({
            distance: parseInt(distance.value, 10),
            source: diarySource
        });

        var clusterAirly = new ol.source.Cluster({
            distance: 80,
            source: airlySource
        });

        var clusters = new ol.layer.Vector({
            source: clusterDiary,
            style: function(feature) {
                var size = feature.get('features').length;
                if (size === 1)
                {
                    style = feature.get('features')[0].getStyle();
                }
                else
                {
                    style = new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 10,
                            stroke: new ol.style.Stroke({
                                color: 'black'
                            }),
                            fill: new ol.style.Fill({
                                color: 'white'
                            })
                        }),
                        text: new ol.style.Text({
                            text: size.toString(),
                            fill: new ol.style.Fill({
                                color: 'black'
                            })
                        })
                    });
                }
                return style;
            }
        });

        var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
        });

        var heatMapLayer = new ol.layer.Heatmap({
            source: airlySource,
            blur: 1,
            radius: 10,
            opacity: 1,
            //weight: function (feature) {
            //    var size = feature.get('features').length;
            //    if (size === 1) {
            //        return feature.get('features')[0].get('weight');
            //    }
            //    else {
            //        var sumWeight = 0;
            //        for (var i = 0; i < size; i++)
            //        {
            //            sumWeight += feature.get('features')[i].get('weight');
            //        }
            //        return sumWeight / size;
            //    }
            //}
            //gradient: ['#0000ff', '#f00', '#f00', '#ff0', '#f00'],
        });

        var airly = new ol.layer.Vector({
            source: clusterAirly,
            style: function (feature) {
                var size = feature.get('features').length;
                if (size === 1) {
                    style = feature.get('features')[0].getStyle();
                }
                else {
                    //var sumWeight = 0;
                    //for (var i = 0; i < size; i++)
                    //{
                    //    sumWeight += feature.get('features')[i].get('weight');
                    //}
                    //var avarage = sumWeight / size;
                    style = new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 20,
                            fill: new ol.style.Fill({
                                color: numberToColorHsl(feature.get('features')[0].get('weight'))
                            })
                        }),

                        //fill: new ol.style.Fill({
                        //    color: numberToColorHsl(avarage)
                        //})
                    });
                }
                return style;
            }
        });

        var airly2 = new ol.layer.Vector({
            source: airlySource
        });

        var map = new ol.Map({
            layers: [raster, airly2, clusters],
            target: 'map',
            view: new ol.View({
                center: ol.proj.fromLonLat([19.938618, 50.060601]),
                zoom: 12
            })
        });

        distance.addEventListener('input', function() {
            clusterDiary.setDistance(parseInt(distance.value, 10));
        });
</script>

