@model CardioCarta.Models.Disease

@{
    ViewBag.Title = "DeleteDisease";
}

<h2>Usuń wpis</h2>

<h3>Jesteś pewny, że chcesz usunąć ten wpis?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "DiseaseIndex")
        </div>
    }
</div>
